body {
  background-color: lightgray;
}

aside {
  float: left;
  background-color: darkgray;
  color: lightgray;
  width: 25%;
  padding: 2.5%;
  height: 90vh;
  border-right: 10px solid darkkhaki;
}

aside > * {
  margin-bottom: 10px;
}

aside img {
  width: 80px;
}

aside .logo {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
}

aside ul {
  list-style: none;
}

aside ul li {
  color: white;
  display: block;
  margin-top: 5px;
  transition: transform 0.6s ease;
}

aside ul a {
  text-decoration: none;
}

aside ul li:hover,
aside ul a:hover {
  color: red;
  text-decoration: none;
  transform: scale(1.05);
}

main .features {
  float: left;
  width: 75%;
  color: blueviolet;
  margin-top: 100px;
  text-align: center;
}

main .features h1 {
  font-size: 50px;
}

main .features p {
  max-width: 400px;
  margin: 20px auto;
}

* {
  border: 2px dotted red;
}